.navbar {
    background-color: rgb(0, 0, 0);
    border-radius: 20PX;
    
}
.navbar ul {
    overflow: auto;
}
.navbar li{
    float: left;
    list-style-type: none;
    margin:20px ;
}
.navbar a {
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    font-family:  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    transition: 0.2s;
}
.navbar a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.search{
    float:center;
    color: white;
    padding: 8px 5px 8px 50px ;
    
    
}
.navbar input {
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px 5px 8px 50px ;
    margin :3px 0px 0px 55px;
}
.image {
    height: 20px;
}